*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body {
    background-color:white;
    width: 100%;
}
.header {
    position: relative;
    position: fixed;
    /* background-color: red; */
    padding-top: 12ch;
    padding-bottom: 3ch;
}
.navigation {
    position: absolute;
    position: fixed;
    top: 7px;
    top: 14ch;
    left: 33ch;
}
.navigation a {
    margin-left: 6ch;
    text-decoration-line: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #06355c;
}
.navigation a.active {
    color: white;
    /* background-color: white; */
    padding-left: 1ch;
    padding-right: 1ch;
    border-radius: 3ch;
}
.navigation a:hover {
    color: #435273;
    background-color: white;
    border-radius: 1ch;
    padding-left: 3ch;
    padding-right: 3ch;
}
.email {
    position: absolute;
    position: fixed;
    left: 73ch;
    top: 6ch;
    text-decoration-line:none;
    color: #06355c;
    border: 1px solid;
    padding-left: 5ch;
    padding-right: 5ch;
    transition-delay: calc(4s);
    cursor:progress;
}
.email:hover {
    background-color: #435273;
    color: white;
    border-radius: 3ch;
    border: none;
}
.email-icon {
    position:absolute;
    left:66ch;
}
.language {
    position: absolute;
    position: fixed;
    top: 7px;
    left: 175ch;
    top: 7.2ch;
    color: #435273;
    padding-top: 2px;
    border-radius: 1ch, solid blue;
    background-color: white;
}
.lang-blue {
    color: white;
    background-color: #435273;
} {

}
.btns {
    position: absolute;
    position: fixed;
    top: 7px;
    left: 123ch;
    top: 5.8ch;
}
.btn {
margin-left: 2ch;
color: #435273;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
}
.btn:hover{
    background-color: #435273;
    color: white;
    border-radius: 4ch;
}
.logo {
    position: absolute;
    position: fixed;
    font-size:2ch;
    width: 25ch;
    height: 21ch;
    left: 6ch;
    top:-2ch ;
    cursor:progress;
}
.background-image{
    width: 100%;
}
.header-guide {
    position: absolute;
    position: fixed;
    top: 0px;
    top: 2ch;
    width: 100%;
    height: 8ch;
    background-color: white;
    /* opacity: 0.4; */
}
.header-title {
    position: absolute;
    width: 150ch;
    height: 50ch;
    border: 2px solid white;
    top: 28ch;
    left: 9ch;
}
.title {
    position: absolute;
    top: 5ch;
    color: white;
    font-family: monospace;
    font-size: 50px;
    left: 8ch;
}
.sub-title {
    position: absolute;
    text-align: center!important;
    top: 18ch;
    color: white;
    left: 16ch;
    font-size: 25px;
    line-height: 1.7;
    /* transform: scale(1.2); */
    /* transform: translate(0px); */
    transition: 10s;
}