*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body {
    background-color:white;
    width: 100%;
    /* overflow:scroll; */
}
.header {
    position: relative;
    /* background-color: red; */
    padding-top: 12ch;
    padding-bottom: 3ch;
}
.navigation {
    position: absolute;
    top: 16ch;
    left: 64ch;
    /* position: fixed; */
}
.navigation a {
    margin-left: 9ch;
    text-decoration-line: none;
    top: 18ch;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #06355c;
    transition: 5s;
}
.navigation a.active {
    color: white;
    padding-left: 1ch;
    padding-right: 1ch;
    border-radius: 3ch;
}
.navigation a.activated {
    color: white;
    background-color: #06355c;
    border-radius: 1ch;
    padding-left: 3ch;
    padding-right: 3ch;
}
.navigation a:hover {
    color: #435273;
    background-color: white;
    border-radius: 1ch;
    padding-left: 3ch;
    padding-right: 3ch;
}
.email {
    position: absolute;
    /* position: fixed; */
    right: 63ch;
    top: 6ch;
    text-decoration-line:none;
    color: white;
    border: 1px solid;
    padding-left: 5ch;
    padding-right: 5ch;
    transition-delay: calc(4s);
    cursor:progress;
    word-spacing: 3ch;
    margin-right: 2ch;
}
.email:hover {
    background-color: #435273;
    color: white;
    border-radius: 3ch;
    border: none;
}
.email-icon {
    position:absolute;
    left:66ch;
}
.language {
    position: absolute;
    left: 158ch;
    top: 12ch;
    color: #435273;
    padding-top: 2px;
    border-radius: 1ch, solid blue;
    background-color: white;
}
.lang-blue {
    color: white;
    background-color: #435273;
} 
.btns {
    position: absolute;
    left: 123ch;
    top: 5.8ch;
}
.btn {
margin-left: 2ch;
color: #435273;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 5px;
padding-right: 5px;
transition: all 0.7s ease 0s;
}
.btn:hover{
    background-color: #435273;
    color: white;
    border-radius: 4ch;
}
.logo {
    position: absolute;
    font-size:2ch;
    width: 25ch;
    height: 21ch;
    left: 6ch;
    top:-2ch ;
    cursor:progress;
}
.mySlides {
    /* position: absolute;
    top: 8ch; */
    width: 100%;
    right: 8ch;
    height: 70%;
}
@keyframes main-images {
from {
    transform: translateZ(-600px);
}
to {
    transform:translate3d(-900px)
}
}
.main-images{
    animation-name: main-images;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    transform: translateX(350px);
}
.header-guide {
    position: absolute;
    top: 2ch;
    width: 100%;
    height: 8ch;
    background-color: orange;
}
.header-title {
    position: absolute;
    width: 90%;
    height: 50ch;
    border: 2px solid orange;
    top: 37ch;
    left: 9ch;
    transition: 10s;
}
.radio-bord {
    position:absolute;
    background-color: white;
    border: 2px solid orange;
    border-radius: 3ch;
    width: 8ch;
    height: 4ch;
    padding-left: 7ch;
    padding-right: 7ch;
    top: 89ch;
    left: 66ch;
}
.next-page1 {
    position: absolute;
    left: 1.8ch;
    top: 1ch;

}
.next-page2 {
    position: absolute;
    left: 7ch;
    top: 1ch;
}
.next-page3 {
    position: absolute;
    left: 12ch;
    top: 1ch;
}
.title {
    position: absolute;
    top: 5ch;
    color: white;
    font-family: monospace;
    font-size: 50px;
    left: 6ch;
    transition: 15s;
}
.sub-title {
    position: absolute;
    text-align: center!important;
    top: 18ch;
    color: white;
    left: 14ch;
    font-size: 25px;
    line-height: 1.7;
    transition: 30s;
}
/* section 2 */

.main-images {
    position: absolute;
    height: 10ch;
    width: 1ch;
    top: 2ch;
    left: 12ch;
}
.main-images-1 {
    position: absolute;
    height: 10ch;
    /* width: 25ch; */
    top: 133ch;
}
.main-images-2 {
    position: absolute;
    height: 10ch;
    /* width: 25ch; */
    top:133ch;
    left: 20ch;
}
.main-images-3 {
    position: absolute;
    height: 10ch;
    /* width: 25ch; */
    top:133ch;
    left: 48ch;
}
.main-images-4 {
    position: absolute;
    height: 10ch;
    /* width: 25ch; */
    top:133ch;
    left: 70ch;
}
.main-images-6 {
    position: absolute;
    height: 10ch;
    /* width: 25ch; */
    top:133ch;
    left: 96ch;
}
.container-2 {
    position: absolute;
    width: 100%;
    height:2ch;
    /* background-color: #435273; */
    background-color: white;
    padding: 35ch;
    opacity: 0.8;
    top: 149ch;
    background-attachment: fixed;
    box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1);
}
.line-1 {
    position:absolute;
    top: 9ch;
    background-color: #06355c;
    height: 1ch;
    width: 2ch;
    left: 15.0ch;
}
.line-2 {
    position:absolute;
    top: 12ch;
    background-color: #06355c;
    height: 1ch;
    width: 9ch;
    left: 8ch;
}
.text {
    position:absolute;
    top: 5ch;
    color: #06355c;
    left: 11ch;
}
.under-text {
    position:absolute;
    top: 14ch;
    color: #06355c;
    left: 5.8ch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 4ch;
    font-size: 2.2ch;
}
.bord-1 {
position: absolute;
width: 59ch;
height: 50ch;
border: 2ch solid #06355c;
top: 9ch;
right: 4ch;
}
.bord-2 {
    position: absolute;
    width: 45ch;
    height: 60ch;
    border: 2ch solid white;
    top: 2ch;
    right: 9ch;
    }
.image-me {
position: absolute;
width: 41ch;
height: 60ch;
top: -2ch;
right: 0ch;
transition: 5s;
}
.image-guide {
    position: absolute;
    top: 7ch;
    right: 15ch;
}
/* section 3 */

.greet-image {
    position: absolute;
    width: 100%;
    top: 220ch;
    height: 70ch;
    opacity: 0.9;
}
.sect-3-title {
    position: absolute;
    top: 140ch;
    color: orange;
    font-family: monospace;
    font-size: 25px;
    left: 30ch;
    transition: 15s;
}
.sect-3-sub-title {
    position: absolute;
    top: 72ch;
    color: white!important;
    font-family: Arial;
    font-size: 50px;
    left: 7ch;
    /* transition: 15s; */
}
.border-line{
    position: absolute;
    height: 5ch;
    width: 1ch;
    background-color: white;
    right: 80ch;
    top: 259ch;
}
.para-1 {
    position: absolute;
    top: 196ch;
    color: white;
    background-color: none;
    border: 2px solid white;
    font-family: monospace;
    font-size: 20px;
    left: 25ch;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-bottom: 3ch;
    padding-top: 3ch;
    /* transition: 15s; */
}
.para-2 {
    position: absolute;
    top: 196ch;
    color: white!important;
    background-color: none;
    border: 2px solid white;
    font-family: monospace;
    font-size: 20px;
    right: 25ch;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-bottom: 3ch;
    padding-top: 3ch;
}
.twitter-icon {
    position:absolute;
    top: 283ch;
    width: 5ch;
    height: 5ch;
    right: 63ch;
    border: 5px solid white;
    rotate: calc(60deg);
}
.facebook-icon {
    position:absolute;
    top: 283ch;
    width: 5ch;
    height: 5ch;
    right: 74.5ch;
    border: 5px solid orange;
    rotate: calc(60deg);
}
.instagram-icon {
    position:absolute;
    top: 283ch;
    width: 5ch;
    height: 5ch;
    right: 86ch;
    border: 5px solid white;
    rotate: calc(60deg);
}
.cover-border {
    position: absolute;
    width: 90%;
    height: 60ch;
    left: 9ch;
    border-radius: 2ch;
    /* padding-right: 30ch;
    padding-left: 80ch; */
    top:316ch;
    box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1);
}
.cover-border h3 {
    position: absolute;
    top: 10ch;
    font-family: monospace;
    left: 10ch;
    font-size: larger;
    letter-spacing: 3px;
    font-style: italic;
}
.cover-border p {
    position: absolute;
    top: 15ch;
    font-family: 'Times New Roman', Times, serif;
    left: 8ch;
    font-size: larger;
    line-height: 4ch;
    font-style: italic;
}
.cover-border h5 {
    position: absolute;
    top: 40ch;
    font-family: 'Times New Roman', Times, serif;
    left: 8ch;
    font-size: larger;
    border-radius: 3ch;
    padding-left:3ch;
    padding-right: 3ch;
    padding-top: 2ch;
    padding-bottom: 2ch;
    background-color: black;
    color: orange;
}
.cover-border h5:hover {
    border-bottom: 2px solid;
    padding-bottom: 2ch;
    color: white;
}
.cover-border h4 {
    position: absolute;
    top: 42ch;
    font-family: 'Times New Roman', Times, serif;
    left: 58ch;
    font-size: larger;
    color: black;
    /* text-decoration-line: underline; */
}
.cover-border h4:hover {
    /* text-decoration-line: underline; */
    border-bottom: 2px solid;
    padding-bottom: 2ch;
    color: orange;
}
.bording {
    position: absolute;
    background-color: white;
    width: 50ch;
    height: 80ch;
    right: 15ch;
    top:302ch;
    border-radius: 2ch;
    box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1);
}
.bording .circle-image {
    position: absolute;
    width: 20ch;
    height: 20ch;
    left: 15ch;
    top:17ch;
}
.bording h2 {
    position: absolute;
    left: 9.5ch;
    top: 3ch;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bording p {
    position: absolute;
    left: 18ch;
    top: 12ch;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bord-size {
    position: absolute;
    top: 49ch;
    width: 45ch;
    height: 1.2ch;
    left: 3ch;
    border: 2px solid black; 
    border-radius: 2ch; 
}
.bod-size-2 {
    position: absolute;
    top: 49ch;
    width: 35ch;
    height: 1ch;
    left: 3ch;
    background-color: #06355c;
    border-radius: 2ch; 
}
.bord-size-3 {
    position: absolute;
    top: 59ch;
    width: 45ch;
    height: 1.2ch;
    left: 3ch;
    border: 2px solid black; 
    border-radius: 2ch; 
}
.bod-size-4 {
    position: absolute;
    top: 59ch;
    width: 26ch;
    height: 1ch;
    left: 3ch;
    background-color: green;
    border-radius: 2ch; 
}
.bord-size-5 {
    position: absolute;
    top: 70ch;
    width: 45ch;
    height: 1.2ch;
    left: 3ch;
    border: 2px solid black; 
    border-radius: 2ch; 
}
.bod-size-6 {
    position: absolute;
    top: 70ch;
    width: 43ch;
    height: 1ch;
    left: 3ch;
    background-color: orange;
    border-radius: 2ch; 
}
.Score-Factors {
    position: absolute;
    left: 4ch;
    top: 52ch;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.Exercise-points {
    position: absolute;
    left: 4ch;
    top: 63.5ch;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Stars-collected {
    position: absolute;
    left: 4ch;
    top: 76ch;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.star-1 {
    position: absolute;
    top: 65ch;
    left: 20ch;
    width: 6ch;
    height:5ch ;
}
/* section 5 */

.advert {
    position: absolute;
    width: 100%;
    top: 400ch;
}

/* section 6 */

.bord-sect {
    position: absolute;
    width: 100%;
    height: 40ch;
    top: 510ch;
    /* background-color: rgba(20, 35, 60, 0.1); */
    background-color: white;
    padding-bottom: 80ch;
}
.texts-h2 {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    left: 9ch;
    line-height: 4ch;
}
.texts-h2 p {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 0ch;
    top: 11ch;
}
.bord-sect h3 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 16ch;
    top: 32ch;
}
.bord-sect-icon {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 10.3ch;
    top: 39ch;
}
.second-sub-text {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 20ch;
    top: 45ch;
    line-height: 4ch;
}
.bord-sect-2 {
    position: absolute;
    left: 0ch;
    top: 545ch;
    width: 80rem;
}
.second-sec-2 h3 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 56ch;
    top: 33ch;
}
.second-sec-2 .bord-sect-icon-2 {
    position: absolute;
    left: 66ch;
    top: 44.5ch;
    rotate: calc(60deg);
}
.second-sec-2 .second-sub-text-2 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 70ch;
    top: 45ch;
    line-height: 4ch;
}
.third-sec-3 h3 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 94ch;
    top: 33ch;
}
.third-sec-3 .bord-sect-icon-3 {
    position: absolute;
    left: 115ch;
    top: 45ch;
    /* rotate: calc(60deg); */
}
.third-sec-3 .second-sub-text-3 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 117ch;
    top: 45ch;
    line-height: 4ch;
}

.bord-sect-2 h3 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 16ch;
    top: 32ch;
}
.bord-sect-icon-4 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 10.3ch;
    top: 39ch;
}
.fourth-sub-text-4 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 20ch;
    top: 45ch;
    line-height: 4ch;
}
/* .bor-sect-head {
    position: absolute;
    left: 70ch;
    top: 55ch;
} */
.fifth-sec-5 h3 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 56ch;
    top: 33ch;
}
.fifth-sec-5 .bord-sect-icon-5 {
    position: absolute;
    left: 66ch;
    top: 44.5ch;
    rotate: calc(60deg);
}
.fifth-sec-5 .second-sub-text-5 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 70ch;
    top: 45ch;
    line-height: 4ch;
}
.third-sec-6 h3 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 94ch;
    top: 33ch;
}
.third-sec-6 .bord-sect-icon-6 {
    position: absolute;
    left: 115ch;
    top: 45ch;
    /* rotate: calc(60deg); */
}
.third-sec-6 .second-sub-text-6 {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 117ch;
    top: 45ch;
    line-height: 4ch;
}

/* section 7 */

.container-cov{
position: absolute;
width: 100%;
height: 90ch;
background-color: none;
/* border: 1px solid black; */
top: 620ch;
box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1);
}
.bord-cover {
position: absolute;
width: 80%;
height: 60ch;
background-color: none;
border-radius: 2ch;
top: 15ch;
left: 17.5ch;
box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1);
}
.container-cov p {
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: larger;
    left: 12ch;
    top: 9ch;
}
.norm-image {
    position: absolute; 
    left: 13ch;
    top: 9ch;
    height: 60ch;
    width: 80%;
    opacity: 0.6;
    top: 0ch;
    border-radius: 2ch;
}

/* section 8  */

.contain-pictures{
position: absolute;
width: 100%;
height: 80ch;
top: 710ch;
box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1);
/* background-color: #435273; */
/* border: 2px solid black; */
}
.cover-me-1 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    left: 5ch;
}
.cover-me-1 h3 {
    position:absolute;
    left: 30ch;
    top: 3ch;
    width: 68ch;
    letter-spacing: 1.5ch;
    color: #06355c;
    word-spacing: 2ch;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.pic-border1 {
position: absolute;
border: 3ch solid white;
width: 39ch;
height:38.5ch;
top: 21ch;
left: 14ch;
box-shadow: 0 5px 25px rgba(20, 35, 60, 0.1);
}
.pic-bord-1 {
position: absolute;
width: 33ch;
height: 33ch;
left: -1 ch;
top: 0ch;
}
.insta {
    position: absolute;
    width: 3.5ch;
    height:3ch;
    top: 68.5ch;
    left: 27ch;
}
.line-div-1 {
    position: absolute;
    width: 10ch;
    height: 2px;
    top: 70ch;
    left: 14ch;
    background-color: #06355c;
}
.contain-pictures .kingsley {
    position: absolute;
    top: 42ch;
    left:17ch;
    letter-spacing: 2px;
    color: orange;
    font-family: cursive;
}
.contain-pictures h1{
    position: absolute;
    top: 51ch;
    left:23ch;
    font-size: 20px;
    color: #06355c;
}
.view-1 {
    position: absolute;
    width: 10ch;
    height: 2px;
    top: 68.3ch;
    left: 33ch;
    color: #06355c;
}
.view-1:hover {
    color: red;
}
.cover-me-2 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    left: 52.5ch;
}
.cover-me-2 .kingsley {
    position: absolute;
    top: 42ch;
    left:19ch;
    letter-spacing: 2px;
    color: orange;
}
.cover-me-3 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    left: 99ch;
}
.cover-me-3 .kingsley {
    position: absolute;
    top: 42ch;
    left:19ch;
    letter-spacing: 2px;
    color: orange;
}

/* two-border */

.cover-me-4 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    left: 5ch;
    top: 80ch;
}
.cover-me-4 h3 {
    position:absolute;
    left: 30ch;
    top: 3ch;
    width: 68ch;
    letter-spacing: 1.5ch;
    color: #06355c;
    word-spacing: 2ch;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cover-me-5 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    left: 52ch;
    top: 80ch;
}
.cover-me-6 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    right: 19ch;
    top: 80ch;
}
.cover-me-7 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    left: 5ch;
    top: 145ch;
}
.cover-me-8 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    left: 52ch;
    top: 145ch;
}
.cover-me-9 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    left: 52ch;
    top: 145ch;
}
.cover-me-10 {
    position: absolute;
    width: 50ch;
    height: 60ch;
    right: 19ch;
    top: 145ch;
}
/* section 9 */

.ninth-div .loging-pic {
    position:absolute;
    top:940ch;
    width: 100%;
}
.form {
    position: absolute;
    background-color: #06355c;
    top: 950ch;
    width: 50ch;
    height: 74ch;
    right: 15ch;
border-top-right-radius: 6ch;
    border: 2ch solid white;
}
.form legend{
    position: absolute;
    top: 15ch;
    left: 8ch;
    color: white;
    border-top-right-radius: 6ch;
    padding-right: 7ch;
    padding-left: 7ch;
    background-color: none;
    border: 1ch solid white;
}
.Log {
    position: absolute;
    background-color: #06355c;
    color: white;
    padding-left: 7ch;
    padding-right: 7ch;
    border-top-right-radius: 6ch;
    left: 13ch;
    top: 50ch;
    border: 5px solid white;
    text-decoration-line: none;
}
.Log:hover {
background-color: white;
color: #06355c;
}
.checkbox {
position: absolute;
top: 41ch;
left: 5ch;
}
.input-other  {
    position: absolute;
top: 27ch;
left: 8ch;
width: 30ch;
padding-bottom: 2ch;
border-top-right-radius: 4ch;
background-color: white;
}
.input-other-2 {
position: absolute;
top: 35ch;
left: 8ch;
width: 30ch;
padding-bottom: 2ch;
border-top-right-radius: 4ch;
background-color: white;
}

/* section 10 */

.footer-body {
position: absolute;
top: 1020ch;
width: 100%;
height: 90ch;
background-color: #06355c;
}
.footer-cover {
    position: absolute;
    width: 40ch;
    left: 47ch;
    height: 30ch;
    /* background-color: black; */
    top: 13ch;
}
.footer-cover h3 {
position: absolute;
background-color: white;
border-radius: 3px;
top: 2ch;
left: 5ch;
font-size: 30px;
}
.footer-body .footer-logo {
    position: absolute;
    left: -40ch;
    top: 4ch;
    height: 20ch;
    width: 30ch;
    background-color: white;
}
.footer-cover p {
position:absolute;
color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
line-height: 3ch;
top: 8ch;
left: 2ch;
}
.footer-cover .footer-icon {
    position: absolute;
    left: 3.3ch;
    top: 4ch;
}
.footer-cover-2 {
    position: absolute;
    width: 40ch;
    left: 103ch;
    height: 30ch;
    /* background-color: black; */
    top: 13ch;
}
.footer-cover-2 p {
    position:absolute;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 3ch;
    top: 8ch;
    left: 2ch;
    }
    .footer-cover-2 .footer-icon {
        position: absolute;
        left: 3.2ch;
        top: 4ch;
    }
    .footer-cover-2 h3 {
        position: absolute;
        background-color: white;
        border-radius: 3px;
        top: 2ch;
        left: 5ch;
        font-size: 30px;
        }

.footer-cover-3 {
    position: absolute;
    width: 42ch;
    left: 47ch;
    height: 25ch;
    /* background-color: black; */
    top: 52ch;
}
.footer-cover-3 h3 {
            position: absolute;
            background-color: white;
            border-radius: 3px;
            top: 2ch;
            left: 5ch;
            font-size: 30px;
}
            .footer-cover-3 p {
            position:absolute;
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            line-height: 3ch;
            top: 8ch;
            left: 2ch;
            }
.footer-cover-3 .footer-icon {
position: absolute;
left: 3.3ch;
top: 4ch;
}
.footer-cover-4 {
    position: absolute;
    width: 40ch;
    left: 105ch;
    height: 30ch;
    /* background-color: black; */
    top: 55ch;
}
.footer-cover-4 h3 {
    position: absolute;
    color: white;
    border-radius: 3px;
    top: 1.2ch;
    left: 5ch;
    font-size: 20px;
}
.footer-cover-4 p {
    position:absolute;
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 3ch;
    text-decoration-line: underline;
    top: 10ch;
    left: 5ch;
    }
    .footer-cover-4 p:hover{
        color: white;
    }
.footer-cover-4 .footer-icon-calling  {
    position:absolute;
    top: 13ch;
    left: 2ch;
}
.footer-cover-4 .footer-icon-location  {
    position:absolute;
    top: 2.5ch;
    left: 2ch;
}
.footer-cover-5 {
    position: absolute;
    width: 42ch;
    left: 7ch;
    height: 25ch;
    /* background-color: black; */
    top: 52ch;
}
.footer-cover-5 h3 {
position: absolute;
background-color: white;
border-radius: 3px;
top: 2ch;
left: 1.2ch;
font-size: 30px;
}
.footer-cover-5 p {
position:absolute;
color: white;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
line-height: 3ch;
top: 8ch;
left: 2ch;
}
.footer-line{
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: orange;
    top: 82ch;
}
.footer-cover-6 h5 {
    position: absolute;
    top: 67ch;
    color: orange;
    height: 2px;
    left: 38ch;
    letter-spacing: 3px;
    font-size: 20px;
}
